### This Scripts contain the following points

#### 1.merged your prepared Instacart orders data 
#### 2. Export the merged file in pickle format as orders_products_combined.pkl”.

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
path=r"C:\Users\acisk\Dropbox\My PC (DESKTOP-SO8P63N)\Desktop\Data Analytics\Achievement 4- Python Fundamentals for Data Analysts\Instacart Basket Analysis 14-08-2021"

In [4]:
# Importing orders_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_products__prior.csv'), index_col = False)

In [5]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.shape

(3421083, 8)

In [8]:
df_ords_prior.shape

(32434489, 4)

#### 1.merged your prepared Instacart orders data

In [9]:
# merging df_ords with df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [10]:
df_merged_large

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,11.0,196,1,0,both
1,0,0,2539329,1,1,2,8,11.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,11.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,11.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,11.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,3421081,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,3421081,3421081,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,3421081,3421081,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,3421081,3421081,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,3421081,3421081,2977660,206209,13,1,12,7.0,22920,9,0,both

In [11]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
df_merged_large.shape

(32434489, 12)

#### 2. Export the merged file in pickle format as orders_products_combined.pkl”.

In [13]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))